input.nice_button {
    background-color: skyblue;
    border-color: cornflowerblue;
    font-size: x-small;
}
input:focus {border: thin solid black;}
input:invalid {border: thin solid rgb(192, 98, 98);}

button.btn-sm {
    border: thin solid antiquewhite;
}

button.btn-sm:hover {
    border: thin solid greenyellow;
}

h1 {
    text-shadow: 3px 3px 5px rgb(141, 153, 207);

}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

div.border {
    border: blue thin solid;
}

/*div {*/
/*    border: grey thin solid;*/
/*}*/

img {
    width: 300px;
    height: 600px;
}

img.img-fluid {
    width: 100px;
    height: 150px;
}

body.background {
    background-size: cover;
    background: lightgrey fixed;
}

div.accordion-collapse {
    background-size: cover;
    background: darkgrey fixed;
}
div.accordion-item {
    background-size: cover;
    background: slategrey fixed;
}

button.accordion-button {
    background-size: cover;
    background: slategrey fixed;
}

/*div.col {*/
/*    background-size: cover;*/
/*    background: lightgrey fixed;*/
/*}*/
/*div.container {*/
/*    background-size: cover;*/
/*    background: lightblue fixed;*/
/*}*/

div.progress-bar {
    text-align: center;
}

option {
    background-color: #bacbe6;
}