input.nice_button {
    background-color: skyblue;
    border-color: cornflowerblue;
    font-size: x-small;
}
input:focus {border: thin solid black;}
input:invalid {border: thin solid rgb(192, 98, 98);}

h1 {text-shadow: 3px 3px 5px rgb(141, 153, 207);}